<mat-toolbar style="background: #d1f0a4">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="user menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span> {{username}}</span>
  <span fxFlex="auto"></span>
  <div *ngIf="!isDashboardRoute">
    <!-- Document name-->
    <a mat-icon-button (click)="goDashboard()" matTooltip="go to Dashboard">
      <mat-icon>skip_previous</mat-icon>
    </a>
    <button mat-icon-button matTooltip="change category"  (click)="changeCategory()"
    style="color: {{catgColor}};">
      <mat-icon>snippet_folder</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deletePaper()" matTooltip="delete paper">
      <mat-icon>delete</mat-icon>
    </button>
  
    <button mat-icon-button matTooltip="Upload PDF file" (click)="uploadFile()">
      <mat-icon>upload</mat-icon>
    </button>
    <button mat-icon-button class="actions-btn" [matMenuTriggerFor]="menu">
      <mat-icon>search</mat-icon>
    </button>
    <mat-menu #menu="matMenu" style="font-size: 14px">
      <button mat-menu-item (click)="highlightComponent('timer')" >
        <span>Timer</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('goals')" >
        <span>Goals</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('notes')" >
        <span>Notes</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('editor')">
        <span>Text editor</span>
      </button>
      <hr>
      <button mat-menu-item (click)="highlightComponent('cke_button__cut')">
        <span>Cut</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__copy')">
        <span>Copy</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__paste')">
        <span>Paste</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__pastetext')">
        <span>Paste only text</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__pastefromword')">
        <span>Paste from word</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__undo')">
        <span>undo</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__redo')">
        <span>redo</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__scayt')">
        <span>scayt</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__link')">
        <span>link</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__unlink')">
        <span>unlink</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__anchor')">
        <span>anchor</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__image')">
        <span>image</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__table')">
        <span>table</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__horizontalrule')">
        <span>horizontalrule</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__specialchar')">
        <span>specialchar</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__maximize')">
        <span>maximize</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__source')">
        <span>source</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__bold')">
        <span>bold</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__italic')">
        <span>italic</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__strike')">
        <span>strike</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__removeformat')">
        <span>remove format</span>
      </button>

      <button mat-menu-item (click)="highlightComponent('cke_button__numberedlist')">
        <span>numbered list</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__bulletedlist')">
        <span>bulleted list</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__outdent')">
        <span>outdent</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__indent')">
        <span>indent</span>
      </button>
      <button mat-menu-item (click)="highlightComponent('cke_button__blockquote')">
        <span>blockquote</span>
      </button>

    </mat-menu>
    <!-- <button mat-icon-button matTooltip="Highlight a component">
      <mat-icon>search</mat-icon>
    </button> -->
  </div>
  <button mat-icon-button [matMenuTriggerFor]="notifications"  aria-label="Notifications list">
    <mat-icon [matBadge]="notificationsCounter" matBadgeColor="warn">notifications</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="deleteUser()">
    <mat-icon>delete</mat-icon>
    <span>delete account</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-menu #notifications="matMenu">
  <button mat-menu-item *ngFor="let notification of notificationsList">
    <span>Your Deadline {{notification.content}} is due in {{dueDays(notification.submission_date)}} days</span>
  </button>
</mat-menu>
