<div class="'container">
  <!-- <section> -->
    <div class="top-section"></div>
  <!-- </section>
  

  <section> -->
    <div class="form-section">
      <mat-card class="my-card">
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          
          <form class="my-form">
            <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input type="text" matInput [formControl]="usernameFormControl">
              <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is required
              </mat-error>
              <button class="visibility-button" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary"
            [disabled]="usernameFormControl.invalid || passwordFormControl.invalid">Anmelden</button>
          <button mat-raised-button (click)="registrieren()" class="register-button">Hier anmelden</button>
        </mat-card-actions>
      </mat-card>

      <!-- </div> -->
    </div>
  <!-- </section>
  
  <section> -->
    <div class="bottom-section"></div>
  <!-- </section> -->
</div>