<div fxLayout="column"  fxLayoutAlign="center" fxLayoutGap="30px" class="dashboard-container">
    <mat-card  fxFlex="100">
      <mat-card-header>
        <mat-card-title>My Folders</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-folder></app-folder>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button class="btn-new-folder" (click)="openAddCategoryDialog()">Add new Folder</button>
      </mat-card-actions>
    </mat-card>
  <mat-card fxFlex="100">
    <mat-card-header>
      <mat-card-title>statistics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
       display statistic component here
      </p>
    </mat-card-content>
  </mat-card>
</div>
